body{
    background: url(../image/background.jpg);
    background-size: cover;
}
.form{
    height: 500px;
    width: 300px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    margin: auto;
    padding: 30px;
    background:#fff;
    margin-top: 60px;
    text-align: center;
}
.form form img{
    height: 100px;
    width: 100px;
    text-align: center;
}
input[type=submit]{
    width: 100px;
    background: lightseagreen;
}
input{
width: 150px;
padding: 5px;
}
label
{
    width: 120px; float: left;
    padding: 5px;
}